//don't like using * but it ensures future goodness
*
  //x-browser hyphenation
  word-break: break-all
  word-break: break-word
  -ms-hyphens: auto
  -webkit-hyphens: auto
  hyphens: auto
  -webkit-hyphenate-limit-before: 2
  -webkit-hyphenate-limit-after: 3
  -moz-hyphenate-limit-chars: 6 2 3
  -webkit-hyphenate-limit-chars: 6 2 3
  -ms-hyphenate-limit-chars: 6 2 3
  hyphenate-limit-chars: 6 2 3
  -ms-hyphenate-limit-lines: 3
  -webkit-hyphenate-limit-lines: 3
  hyphenate-limit-lines: 3

  //ligatures
  font-feature-settings: "liga", "dlig"

  //go with font's default kerning, etc.
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  text-rendering: optimizeLegibility

//paint it gold
@for $i from 1 through 3
  h#{$i}
    @include gtype(6 - $i)
h4
  @include gtype(3, true)
p
  @include gtype(2)

//general styles
html
  font-size: $b
  font-family: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol
  color: $ct
h1, h2, h3, h4
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif
h1
  text-align: center
a
  color: $ca
  text-decoration-color: add_color($ca, #333)
